* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/* This is shared styles  */
.primary-color {
    color: #FF42A5;
}

.btn-primary {
    padding: 20px 30px;
    border-radius: 3rem;
    border: 0;
    margin: 20px 0;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.light-gray-text {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
}

.common-text-effect {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sp-width{
    max-width: 1140px;
    margin: 0 auto;
}
/* This is nav section styles  */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

}

.img-logo-container {
    display: flex;
    gap: 20px;
}

.img-logo-container h1 {
    font-size: 2.8rem;
    font-weight: 700;
}

.img-logo-container img {
    width: 80px;
}

.menus {
    display: flex;
    align-items: center;
    text-align: center;

}

.menus li {
    list-style: none;
    padding: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;

}

.menus a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.5rem;
    font-weight: 600;
}

.follow-us-box {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: inline-block;
}

.follow-us-box img {
    width: 25px;
}

.youtube-color {
    color: red;
}
/* This is banner section styles */

.banner {
    display: flex;
    justify-content: space-around;
}

.banner-text-container {
    width: 100%;
    margin: auto;
}

.banner-text-container .play-like {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-text-container .goat-effect {
    font-size: 5rem;
    font-weight: 700;
}

.banner-text-container .bullet-points li {
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;

}

.banner-text-container .btn-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.banner-text-container .btn-container .go-rogue-btn {
    background: #4EC5F7;
}

.banner-img-container {
    width: 100%;
}

.banner-img-container img {
    width: 100%;
    height: 95%;
}

/* This is we are gamer section styles  */

.we-gamer-section {
    display: flex;
    padding: 50px 0;

}

.gamer-text-container h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.gamer-text-container h2 {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

.gamer-img-container {
    width: 100%;
}

.gamer-img-container img {
    width: 100%;
}

.gamer-text-container {
    text-align: right;
}

/* This is online games styles  */
.online-games-container{

}
.online-games-container .title-subtitle-container {
    text-align: center;
    margin: 20px 0;
}

.online-games-container .title-subtitle-container h1 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;

}
.card-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card-container .card img {
    width: 100%;
}

.card-container .card p {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
    
}

/* This is instant play styles  */
.instant-play {
    display: flex;

}

.instant-play-text-container {
    width: 40%;
}

.relative-img {
    position: relative;
    bottom: 80px;
    right: 100px;
}

/* This is career section styles  */
.career-section {
    display: flex;
}

.career-text-container {
    width: 50%;
}

/* This is footer section styles  */
.footer-main {
    text-align: center;
}