* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/* This is shared styles  */
.primary-color {
    color: #FF42A5;
}

.btn-primary {
    padding: 20px 30px;
    border-radius: 3rem;
    border: 0;
    margin: 20px 0;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.light-gray-text {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
}

.common-text-effect {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sp-width{
    max-width: 1140px;
    margin: 0 auto;
}
/* This is nav section styles  */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

}

.logo-text-container {
    display: flex;
    gap: 20px;
}

.logo-text-container h1 {
    font-size: 2.8rem;
    font-weight: 700;
}

.logo-text-container img {
    width: 80px;
}

.menus {
    display: flex;
    align-items: center;
    text-align: center;

}

.menus li {
    list-style: none;
    padding: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;

}

.menus a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.5rem;
    font-weight: 600;
}

.follow-us-box {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: inline-block;
}

.follow-us-box img {
    width: 25px;
}

.youtube-color {
    color: red;
}
/* This is banner section styles */

.banner {
    display: flex;
    justify-content: space-around;
}

.banner-text-container {
    width: 100%;
    margin: auto;
}

.banner-text-container .play-like {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-text-container .goat-effect {
    font-size: 5rem;
    font-weight: 700;
}

.banner-text-container .bullet-points li {
    list-style: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;

}

.banner-text-container .btn-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.banner-text-container .btn-container .go-rogue-btn {
    background: #4EC5F7;
}

.banner-img-container {
    width: 100%;
}

.banner-img-container img {
    width: 100%;
    height: 95%;
}

/* This is we are gamer section styles  */

.we-gamer-section {
    display: flex;
    padding: 50px 0;

}

.gamer-text-container h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.gamer-text-container h2 {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

.gamer-img-container {
    width: 100%;
}

.gamer-img-container img {
    width: 100%;
}

.gamer-text-container {
    text-align: right;
}

/* This is online games styles  */

.online-games-container{

}
.online-games-container .title-subtitle-container {
    text-align: center;
    margin: 20px 0;
}

.online-games-container .title-subtitle-container h1 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;

}
.card-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.card-container .card img {
    width: 100%;
}

.card-container .card p {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
    
}

/* This is instant play styles  */

.instant-play {
    display: flex;
    justify-content: center;
    padding: 50px 0;

}
.instant-play-text-container {
    width: 100%;
    margin: auto;
}
.instant-play-img-container{
    width: 100%;
    position: relative;
}
.instant-play-img-container .horse-img{
    width: 80%;
    height: 60%;
    float: right;
}
.relative-img {
    position: absolute;
    bottom: -30px;
    left: 20px;
    z-index: 1;
}
.relative-img img{
    width: 60%;
    height: 50%;
    object-fit: cover;
}
/* This is anytime play section styles  */
.anytime-play{
    display: flex;
    padding: 50px 0;

}
.anytime-left{
    width: 100%;
    position: relative;
}
.anytime-left img{
    width: 80%;

}
.any-time-ralative-img{
    position: absolute;
    bottom: -30px;
    right: -60px;
    object-fit: cover;
}
.any-time-ralative-img img{
    width: 60%;
    height: 50%;
}
.any-time-right{
    width: 100%;
    margin: auto;
}
/* This is career section styles  */
.career-section{
    background-color: #F948B2;
}
.career-container {
    display: flex;
    
}

.career-text-container {
    width: 100%;
}
.career-text-container .two-sides{
    display: flex;
    justify-content: space-between;
}
.career-text-container .two-sides li{
    list-style: none;
    margin: 15px 0;
}
.career-text-container .two-sides .left-side{
    width: max-content;
}
.career-text-container .two-sides .right-side{
    text-align: right;
}
.career-img-container{
    width: 100%;
}
.career-img-container img{
    width: 100%;
}
/* This is footer section styles  */
footer{
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid black;
}
footer li{
    list-style: none;
}
footer a{
    text-decoration: none;
    color: #0B0223;
}
.footer-main {
    text-align: center;
}
.footer-menus,.terms-condition-container {
    display: flex;
    justify-items: center;
    gap: 10px;
}